nav{
  margin-bottom: 1%;
}
aside{
  background-color:rgb(126, 126, 126):
}
.navbar-item>li{
  list-style:none;
  margin-left: 15px;
}
blockquote, code, dl, h4, fieldset, p, pre, table {
    margin-top: 20px;
    margin-bottom: 20px;
}
